[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/azure/umock-c
[submodule "cmake/deps/azure-c-logging"]
	path = cmake/deps/azure-c-logging
	url = https://github.com/azure/azure-c-logging
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
